/* Fonts */

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf)
}

/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: Raleway, Roboto, Arial, sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
    font-family: Raleway;
    font-size: 1.05rem;
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: Raleway;
    font-size: 1.05rem;
}

img {
    object-fit: cover;
}

h2 {
    margin: 0 20px 20px;
}

/* Helpers */

.active {
    color: white;
    background-color: blue;
}

/* Radio button hide Helper */

#bgc, #font-color, #NoteText, #NoteTodos, #NoteImage, #NoteVideo {
    display: none;
}

/* Main NavBar */

.app-nav {
    background-color: rgb(243, 245, 141);
    flex: 0 0 60px;
}

/* Email and notes apps */

.content-container {
    min-height: 100vh;
}

/* Email NavBar */

.email-nav-container {
    flex: 0 0 150px;
    background-color: rgb(236, 234, 234);
    cursor: pointer;
}

.email-nav-links>* {
    /* padding: 15px 10px; */
}

.email-nav-links>*:hover {
    background-color: white;
}

.email-nav-links>*:first-child {
    margin-block-start: 20px;
}

.email-nav-links>*:not(:last-child) {
    margin-block-end: 20px;
}

a.nav-link {
    padding: 15px 10px;
    width: 140px;
}

/* Email App  */

.settings-container {
    padding: 1.5rem 1rem;
    align-items: center;
}

section {
    flex-grow: 1;
    overflow: hidden;
}

main {
    overflow-y: auto;
}

.inbox>* {
    display: flex;
    justify-content: space-between;
}

.sent-by {
    min-width: 130px;
}

.email-subject {
    width: 250px;
}

.read {
    margin-block-end: 20px;
}

.not-read {
    font-weight: bold;
    margin-block-end: 20px;
}

.read>*, .not-read>* {
    display: inline-block;
}

.star {
    background-color: rgb(255, 255, 0);
}

/* Note app */

.app-container {
    max-width: 1100px;
    padding-block-start: 20px;
}

/* Add Note Component */

.add-note-container {
    min-height: 80px;
    max-width: 650px;
    margin: auto;
    margin-block-end: 20px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.add-input {
    min-height: inherit;
    padding: 15px;
    border-radius: inherit;
    background-color: inherit
}

.app-container .search-container {
    margin: auto;
}

.types-container {
    min-height: inherit
}

.types-container>* {
    margin-inline-end: 8px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 8px;
}

.type-active {
    background-color: rgb(241, 243, 244);
}

.save-btn {
    color: #757575;
    margin-inline-end: 5px;
    border-radius: 8px;
    padding: 2px;
    width: 60px;
    height: 50px;
}

.save-btn:hover {
    background-color: rgb(241, 243, 244);
}

/* Notes */

.notes-container {
    column-gap: 20px;
    columns: 260px 3;
    padding: 0 20px;
}

.pinned {
    border-radius: 8px;
}

.notes-container>* {
    margin-block-end: 20px;
    max-width:260px;
    min-height: 100px;
    break-inside: avoid;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.note-content {
    padding-block-end: 20px;
}

.note-title {
    margin: 0;
    padding: 10px
}

.note-content.txt {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 20px;
    font-weight: bold;
}

.note-img {
    width: 100%;
    height: 100%;
}

.controls-container {
    min-height: 35px;
}

.controls-container>*:not(:last-child) {
    margin-inline-end: 5px;
}

.note-controls {
    margin-block-end: 5px;
}

.note-controls>* {
    margin-inline-end: 5px;
}

.edit-container {
    min-width: 400px;
    padding: 20px;
}

.edit-container>*:not(:last-child) {
    margin-block-end: 20px;
}

.title-edit {
    min-width: 100%;
    min-height: 40px;
    padding-inline-start: 12px;
}

.note-edit {
    font-family: Raleway;
    font-size: 1.05rem;
    outline: none;
    min-width: 100%;
    min-height: 100px;
    padding-inline-start: 12px;
    overflow: hidden;
    resize: none;
}

.edit-controls {
    min-width: 30%;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
}

/* Book App */

/* Book gallery */

.book-preview {
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    width: 200px;
    border-radius: 8px;
}

.red-font {
    color: red
}

.green-font {
    color: green
}

/* Layout */

/* flex-helpers */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.full {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.totally-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* Search input helper */

.search-container {
    max-width: 300px;
    min-height: 45px;
    background-color: #f1f3f4;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.search-icon {
    margin-inline-start: 7px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 0;
    margin-inline-start: 9px;
    margin-inline-end: 5px;
    min-height: 50px;
    background-color: #F1F3F4;
}

.search-input:focus+.search-x {
    opacity: 1;
}

.search-x {
    height: 15px;
    width: 12px;
    position: absolute;
    right: 15px;
    opacity: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
    margin-inline-end: 10px;
    opacity: 0;
    z-index: 1;
}

/* check-box helper
input[type="checkbox"] {
    -webkit-appearance: none;
    cursor:pointer;
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
} */

/* Border-helper */

.border {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

/* button helpers */

.btn {
    cursor: pointer;
}

/* List helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}