/* Base */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Helpers */
.active {
    color: white;
    background-color: blue;
}

/* Radio button hide Helper */

#bgc, #font-color, #NoteText,#NoteTodos,#NoteImage,#NoteVideo {
    display: none;
}

/* Main NavBar */

.app-nav {
    background-color: red;
    height: 80px;
}

/* Email NavBar */

.email-nav {
    background-color: khaki;
    top: 80px;
    width: 100px;
    height: calc(100vh - 80px);
}

/* Layout */

/* flex-helpers */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* Email App  */
.not-read {
    font-weight: bold;
}

/* Notes app */
.done {
    text-decoration: line-through;
}